<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="app/Content/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="app/Content/css/style.css">
    <link rel="stylesheet" href="app/Content/css/normalize.css">
</head>
<body>
    <header>
        <a class="logo" href="http://localhost/RodrigoStore/"><img src="app/Content/images/logo/logo_w.svg" alt=""></a>
        <form action="" method="get">
            <input type="text">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="header-right">
            <h2>
                {{login}}
            </h2>
            <a href="http://localhost/RodrigoStore/?page=cart&method=index" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>
    <main>
        <div class="content">{{content}}</div>
    </main>
    <footer>
        <p>Developed by Rodrigocods</p>
    </footer>
    

    <script src="app/Content/js/main.js"></script>    
</body>
</html>