<div class="product">
    <div class="leftCol">
        <img src="app/Content/images/{{id}}.jpg" width="230px" height="180px" alt="">
    </div>
    <div class="centerCol">
        <h4>{{product_name}}</h4>
        <hr>
        <p>{{description}}</p>
    </div>
    <div class="rightCol">
        <h4>{{price}}</h4>
        <br>
        <br>
        <a href="http://localhost/RodrigoStore/?page=cart&method=add&id={{id}}&header="><button>Add to cart</button></a>
        <br>
        <br>
        <a href="http://localhost/RodrigoStore/?page=cart&method=add&id={{id}}&header=cart"><button>Buy now</button></a>
    </div>
</div>