<h1>Product Handler</h1>

<a href="http://localhost/RodrigoStore/?page=admin&method=add"><button>Add products</button></a><br><br>

<hr>

<br><table border="2">
	<tr>
		<th>ID</th>
		<th>TITLE</th>
		<th>ALTER</th>
		<th>DELETE</th>
	</tr>


	{% for product in products %}
	<tr>
		<th>{{product.id}}</th>
		<th>{{product.product_name}}</th>
		<th><a href="http://localhost/RodrigoStore/?page=admin&method=change&id={{product.id}}">ALTER</a></th>
		<th><a href="http://localhost/RodrigoStore/?page=admin&method=delete&id={{product.id}}">DELETE</a></th>
	</tr>
	{% endfor %}

</table>