<h1>Alterar Produto</h1>

<form method="post" action="?pagina=admin&metodo=update">
	<span>Nome</span><br>
	<input type="text" name="productName" size="30" value="{{productName}}"><br><br>

	<span>Descrição</span><br>
	<textarea name="descricao" cols="40" rows="10">{{descricao}}</textarea><br><br>

    <span>Preço</span><br>
	<input type="text" name="preco" size="30" value="{{preco}}" placeholder="Valor com ponto separando os centavos"><br><br>

    <input type="hidden" name="id" value="{{id}}">

	<input type="submit" value="Alterar">
</form>